@media (min-width: 800px) {
  .w-login {
    width: 50%;
  }
  .btn-login {
    width: 50%;
  }
  .box-login {
    width: 50%;
    margin-top: 5%;
  }
}

@media (max-width: 799px) {
  .w-login {
    width: 100%;
  }
  .btn-login {
    width: 50%;
  }
  .box-login {
    width: 100%;
    margin-top: 10%;
  }
}

.bg-footer-login {
  background-color: #f8f9fa;
}
.footer-login {
  bottom: 0;
}
