body {
  overflow-y: hidden;
  background: #b6b4b5;
}
header {
  display: contents;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  display: inline-block;
}
.mb-4,
.my-4 {
  cursor: pointer;
}
.padding-10 {
  padding: 5rem !important;
}
.page-content {
  font-family: sans-serif;
  width: calc(100% - 17rem);
  background: #b6b4b5;
  /* margin-left: 17rem; */
  transition: all 0.4s;
  position: fixed;
  overflow-y: auto;
  display: inline-block;
  max-height: 600px;
  /*box-shadow: 0 0 3px #fff;*/
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

@media (max-width: 551px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
