{% extends 'baseAdmin.html' %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cpAdmin.css') }}">
{%endblock%}

{%block title%}Customers : LiveOne{%endblock%}

{%block content%}
<script>
    let listProds = {{ prodsinfo | tojson}};
    listProds = JSON.parse(listProds)
    console.log("Productos: ", listProds)
    let listCus = {{ cusinfo | tojson}};
    listCus = JSON.parse(listCus)
    console.log("Clientes: ", listCus)
</script>
<div id="alertPrimarySystem" class="alert alert-primary text-center mx-auto" role="alert"></div>
<div id="alertDangerSystem" class="alert alert-danger text-center mx-auto" role="alert"></div>
<div class="w-100">
    <h2 class="mb-4 text-center title-blnc-cpadmin">
        Total de clientes actuales
    </h2>
</div>
<div id="ListUsersAdmin2" class="border mt-3 mx-auto bg-light p-4 border-3">
    <div>
        <h5 class="fw-bold d-inline-block col-box-reg-cus-cpadmin">
            CLIENTES ACTUALES
        </h5>
        <h5 class="fw-bold d-inline-block col-box-add-cus-cpadmin">
            AGREGAR CLIENTES
        </h5>
        <i id="btnAddReg" class="far fa-plus-square d-inline-block square-btn-add-reg-cus"></i>
        <small class="fst-italic"><i class="fas fa-list-alt"></i> Fecha actual: <span id="fechaDeHoy"></span></small>
        <hr class="mb-0 mt-1">
    </div>
    <div id="BoxLabelsListUsersReg" class="mt-1" style="display: block;">
        <small class="text-center d-inline-block w-13">Nombres</small>
        <small class="text-center d-inline-block w-13">Alias</small>
        <small class="text-center d-inline-block w-13">Correo</small>
        <small class="text-center d-inline-block w-13">Producto</small>
        <small class="text-center d-inline-block w-13">Precio</small>
        <small class="text-center d-inline-block w-13">Estado</small>
        <small class="text-center d-inline-block w-13">Opción</small>
    </div>
    <!--System add customer-->
    <div id="BoxLabelsAddReg" class="mt-1" style="display: none;">
        <small class="d-block text-center text-dark">Rellena los datos del cliente nuevo</small>
    </div>
    <hr class="mt-0">

    <!--List customers-->
    <span id="ListUsersAdmin3">
        <div class="d-block text-dark">
            <h6 class="d-inline-block w-13">Juan manuel toro lopez</h6>
            <h6 class="d-inline-block w-13">El calvo</h6>
            <h6 class="d-inline-block w-13">elcalvo@domain.com</h6>
            <h6 class="d-inline-block w-13">awa</h6>
            <h6 class="d-inline-block w-13">1200</h6>
            <h6 class="d-inline-block w-13">Activo</h6>
            <h6 class="d-inline-block w-13"><i>X</i><i>X</i></h6>
        </div>
    </span>

    <!--System add customer-->
    <span class="form-group" id="BoxAddReg" style="display: none;">
        <form id="formSubmitCus" action="/apicus" method="POST">
            <input type="text" name="nombreCliente" id="nombreClienteInput" class="form-control margin-bottom-3"
                placeholder="Digite el nombre del cliente" required>
            <input type="text" name="apellidoCliente" id="apellidoClienteInput" class="form-control margin-bottom-3"
                placeholder="Digite el apellido del cliente" required>
            <input type="text" name="aliasCliente" id="aliasClienteInput" class="form-control margin-bottom-3"
                placeholder="Asigne un alias para el cliente [opcional]" title="Opcional">
            <select class="form-control margin-bottom-3" name="tipoIdCliente" id="tipoIdClienteSelect">
                <option hidden selected value="">Seleccione un tipo Identificación</option>
                <option value="CC">Cédula de ciudadanía</option>
                <option value="TI">Targeta de identidad</option>
                <option value="CE">Cédula de extranjería</option>
            </select>
            <input type="number" name="numDocumentoCliente" id="numDocumentoClienteInput"
                class="form-control margin-bottom-3" placeholder="Digite el número de documento del cliente" min="0">
            <input type="email" name="correoCliente" id="correoClienteInput" class="form-control margin-bottom-3"
                placeholder="Digite el correo del cliente [opcional]" title="Opcional">
            <!-- <input type="file"> -->
            <select id="ListProductsSelect" name="productoAsignadoCliente" class="form-control mb-3">

            </select>
            <div class="d-block w-100 text-center"><button class="btn btn-danger mx-auto"
                    id="btnNotSaveRegistercpa">Cancelar</button>
                <button class="btn btn-success mx-auto" id="btnSaveRegistercpa">Guardar</button>
            </div>
        </form>
    </span>
</div>
<script src="{{url_for('static', filename='js/cpaCustomers.js')}}"></script>
{%endblock%}