{% extends 'baseAdmin.html' %}

{%block head%}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cpAdmin.css') }}">
{%endblock%}

{%block title%}Customers : LiveOne{%endblock%}

{%block content%}
<div id="alertPrimarySystem" class="alert alert-primary text-center mx-auto" role="alert"></div>
<div id="alertDangerSystem" class="alert alert-danger text-center mx-auto" role="alert"></div>
<div class="w-100">
    <h2 class="mb-4 text-center title-blnc-cpadmin">
        Balance de esta semana
    </h2>
</div>
<div id="BoxClientes" class="p-3 bg-primary mx-auto boxes-hg-wd-cpadmin">
    <i class="fas fa-users mx-2 text-light ftn-size-20"></i>
    <small class="text-light text-center mx-3 subtitle-boxes-cpadmin">
        Clientes alcanzados
    </small>
    <h3 id="qntCustomersAlcn" class="text-center text-light fw-bolder"></h3>
    <small id="porcentajeCus1Alcn" class="text-center text-light d-block opct-007"></small>
</div>
<div id="BoxCapital" class="p-3 bg-success mx-auto boxes-hg-wd-cpadmin">
    <i class="fas fa-dollar-sign mx-2 text-light ftn-size-20"></i>
    <small class="text-light text-center mx-3 subtitle-boxes-cpadmin">
        Capital total hasta hoy
    </small>
    <h3 id="capitalTotalCus1" class="text-center text-light fw-bolder opct-009"></h3>
    <small class="text-center text-light d-block opct-007">
        Total sin estimar gastos extras
    </small>
</div>
<div class="p-3 bg-danger mx-auto boxes-hg-wd-cpadmin">
    <i class="fas fa-database mx-2 text-light ftn-size-20"></i>
    <small class="text-light text-center mx-3 subtitle-boxes-cpadmin">
        Volumen de producto
    </small>
    <h3 id="volumenProductoTotalCus1" class="text-center text-light fw-bolder"></h3>
    <small class="text-center text-light d-block bg-warn-vol-box-cpadmin">
        Total sin estimar pérdidas generadas
    </small>
</div>
<div id="ChartAdminP" class="border mt-3 mx-auto bg-light p-4 border-3 max-hg-387">
    <canvas id="canvas"></canvas>
</div>
<div id="ListUsersAdminR" class="border mt-3 mx-auto bg-light p-4 border-3">
    <div>
        <h5 class="fw-bold d-inline-block col-box-reg-cus-cpadmin">
            CLIENTES ACTUALES
        </h5>
        <h5 class="fw-bold d-inline-block col-box-add-cus-cpadmin">
            AGREGAR CLIENTES
        </h5>
        <i id="btnAddReg" class="far fa-plus-square d-inline-block square-btn-add-reg-cus"></i>
        <small class="fst-italic"><i class="fas fa-list-alt"></i> Fecha actual: <span id="fechaDeHoy"></span></small>
        <hr class="mb-0 mt-1">
    </div>
    <div id="BoxLabelsListUsersReg" class="mt-1" style="display: block;">
        <small class="text-center title-col-reg-cus-cpadmin">Cliente</small>
        <small class="text-center title-col-reg-cus-cpadmin">Registrado el</small>
        <small class="text-center title-col-reg-cus-cpadmin">Volumen</small>
        <small class="text-center title-col2-reg-cus-cpadmin">Capital</small>
        <small class="float-right">Opción</small>
    </div>
    <!--System add customer-->
    <div id="BoxLabelsAddReg" class="mt-1" style="display: none;">
        <small class="d-block text-center text-dark">Rellena los datos del cliente nuevo</small>
    </div>
    <hr class="mt-0">
    <span id="ListUsersAdmin"></span>
    <!--System add customer-->
    <span class="form-group" id="BoxAddReg" style="display: none;">
        <form action="/apirf" method="POST">
            <select id="selectorOpcionesCustomers" class="form-control d-inline-block text-center w-24" name="IARid"
                required>
            </select>
            <input class="form-control d-inline-block w-24" type="date" id="datenow" name="IARdate" id="IARdate"
                required>
            <input class="form-control d-inline-block text-center w-23" type="number" name="IARquantity"
                id="IARquantity" placeholder="Cantidad" value="0" autofocus required>
            <input class="form-control d-inline-block text-center w-1604" type="number" id="InputPricecpa" value="0">
            <i id="btnNotSaveRegistercpa" class="fas fa-times text-danger mx-auto btn-options-add-reg-cpadmin"
                title="No guardar"></i>
            <i id="btnSaveRegistercpa" class="fas fa-check text-success btn-options-add-reg-cpadmin"
                title="Guardar"></i>
            <!--Toma el valor de acuerdo a la seleccion en el select-->
        </form>
    </span>
</div>
<script src="{{url_for('static', filename='js/cpaCustomers.js')}}"></script>
{%endblock%}