{%extends 'baseAdmin.html'%}

{%block title%}Admin : LiveOne{%endblock%}
{%block head%}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{%endblock%}

{%block content%}
<script>let statusres = {{ status | tojson }}; statusres = JSON.parse(statusres); console.log(statusres);</script>
<div class="w-100">
    <h2 class="mb-4 text-center" style="font-family: sans-serif;">Balance de esta semana</h2>
</div>
<div id="BoxClientes" class="p-3 bg-primary mx-auto" style="height: 20%; width: 320px">
    <i class="fas fa-users mx-2 text-light" style="font-size: 20px;"></i>
    <small class="text-light text-center mx-3" style="opacity: 0.7; font-size: 18px;">Clientes alcanzados</small>
    <h3 class="text-center text-light fw-bolder">220</h3>
    <small class="text-center text-light d-block" style="opacity: 0.7;">restante 220/440 - 50%</small>
</div>
<div id="BoxCapital" class="p-3 bg-success mx-auto" style="height: 20%; width: 320px">
    <i class="fas fa-dollar-sign mx-2 text-light" style="font-size: 20px;"></i>
    <small class="text-light text-center mx-3" style="opacity: 0.7; font-size: 18px;">Capital total hasta hoy</small>
    <h3 class="text-center text-light fw-bolder" style="opacity: 0.9;">1484000</h3>
    <small class="text-center text-light d-block" style="opacity: 0.7;">Total sin estimar gastos extras</small>
</div>
<div class="p-3 bg-danger mx-auto" style="height: 20%; width: 320px">
    <i class="fas fa-database mx-2 text-light" style="font-size: 20px;"></i>
    <small class="text-light text-center mx-3" style="opacity: 0.7; font-size: 18px;">Volumen de producto</small>
    <h3 class="text-center text-light fw-bolder">220 L</h3>
    <small class="text-center text-light d-block" style="background-color: rgba(255, 255, 255, 0.2);">Total
        sin estimar pérdidas
        generadas</small>
</div>
<div id="ChartAdminP" class="border mt-3 mx-auto bg-light p-4 border-3" style="max-height: 387px;">
    <canvas id="canvas"></canvas>
</div>

<div id="ListUsersAdminR" class="border mt-3 mx-auto bg-light p-4 border-3">
    <div>
        <h5 class="fw-bold d-inline-block" style="font-family: sans-serif; font-size: 18px;color:#505de9; width: 49%;">
            REGISTRO DE CLIENTES
        </h5>
        <h5 class="fw-bold d-inline-block"
            style="width: 43.5%; text-align: right;font-family: sans-serif; font-size: 18px;color: #8d92bb;">
            AGREGAR REGISTRO
        </h5>
        <i id="btnAddReg" class="far fa-plus-square d-inline-block"
            style="width: 5.5%; text-align: right; font-size: 20px; color: #171527;cursor: pointer;"></i>
        <small class="fst-italic"><i class="fas fa-list-alt"></i> Fecha actual: 22/12/2020 -
            Martes</small>
        <hr class="mb-0 mt-1">
    </div>
    <div id="BoxLabelsListUsersReg" class="mt-1" style="display: block;">
        <small class="text-center" style="display: inline-block;width:24%">Cliente</small>
        <small class="text-center" style="display: inline-block;width: 24%;">Registrado el</small>
        <small class="text-center" style="display: inline-block; width: 24%;">Volumen</small>
        <small class="text-center" style="display: inline-block;width: 12%;">Capital</small>
        <small style="float: right;">Opción</small>
    </div>
    <!--System add register-->
    <div id="BoxLabelsAddReg" class="mt-1" style="display: none;">
        <small class="text-center" style="display: inline-block;width:24%">Cliente</small>
        <small class="text-center" style="display: inline-block;width: 24%;">Registrar como</small>
        <small class="text-center" style="display: inline-block; width: 24%;">Volumen</small>
        <small class="text-center" style="display: inline-block;width: 12%;">Precio</small>
        <small style="float: right;">Opción</small>
    </div>
    <hr class="mt-0">
    <span id="ListUsersAdmin">
        <div class="d-block">
            <h6 class="text-center" style="display: inline-block;width:24%">User reg 1</h6>
            <!--Perfomance: 11 Char-->
            <h6 class="text-muted text-center" style="display: inline-block;width:24%">Martes/12/22</h6>
            <h6 class="text-center" style="display: inline-block;width:24%">220</h6>
            <h6 class="text-center" style="display: inline-block;">1484000</h6>
            <h6 class="text-center" style="display: block;float: right;">
                <i class="far fa-edit text-primary optionsBarUserAdmin" title="Editar registro"
                    style="font-size: 16px;cursor:pointer"></i>
                <i class="far fa-trash-alt text-danger optionsBarUserAdmin" title="Borrar registro"
                    style="font-size: 16px;cursor:pointer"></i>
            </h6>
        </div>
        <hr>
        <div class="d-block">
            <h6 class="text-center" style="display: inline-block;width:24%">Username 1</h6>

            <h6 class="text-muted text-center" style="display: inline-block;width:24%">Jueves/12/22</h6>
            <h6 class="text-center" style="display: inline-block;width:24%">1220</h6>
            <h6 class="text-center" style="display: inline-block;">1484000</h6>
            <h6 class="text-center" style="display: block;float: right;">
                <i class="far fa-edit text-primary optionsBarUserAdmin" title="Editar registro"
                    style="font-size: 16px;cursor:pointer"></i>
                <i class="far fa-trash-alt text-danger optionsBarUserAdmin" title="Borrar registro"
                    style="font-size: 16px;cursor:pointer"></i>
            </h6>
        </div>
        <hr>
    </span>
    <!--System add register-->
    <span class="form-group" id="BoxAddReg" style="display: none;">
        <form action="/cpaddreg" method="POST">
            <select class="form-control d-inline-block text-center" style="width: 24%;" name="" id="" required>
                <option selected hidden value="">Seleccionar</option>
                <option value="1">user1</option>
                <option value="2">user2</option>
            </select>
            <input class="form-control d-inline-block" style="width: 24%;" type="date" id="datenow" required>
            <input class="form-control d-inline-block text-center" type="number" style="width: 23%" name="" id=""
                placeholder="Cantidad" value="1" autofocus required>
            <input class="form-control d-inline-block text-center" type="number" style="width: 16.4%" name=""
                id="InputPricecpa" value="2400">
            <i id="btnSaveRegistercpa" class="fas fa-times text-danger mx-auto" style="margin-left: 2px;cursor:pointer"
                title="No guardar"></i>
            <i class="fas fa-check text-success" style="margin-left: 2px;cursor:pointer" title="Guardar"></i>
            <!--Toma el valor de acuerdo a la seleccion en el select-->
        </form>
    </span>
</div>
<script src="{{url_for('static', filename='js/cpAdmin.js')}}"></script>
{% endblock %}