{% extends "base.html"%}
{% block title%}Index{% endblock %}

{% block content%}
<div class="d-block">
    <div class="card mx-auto mt-4 w-50" id="cb">
        <h3 class="text-center my-2">Iniciar sesión</h3>
        <form class="form pb-4 px-4" action="/usuarios" method="POST">
            <!-- <input type="hidden" name="csrf_token" value="TOKEN_CRSF" /> -->
            <input type="email" class="form-control mb-4 w-50 mx-auto" id="correo" name="correo"
                placeholder="Escriba su coreo" title="Escriba su correo" required autofocus>
            <input type="password" class="form-control mb-4 w-50 mx-auto" name="clave" id="clave"
                title="Escriba su contraseña" placeholder="Escriba su contraseña" required>
            <button id="btn_get" class="btn btn-success mx-auto w-50" type="submit" style="display: block">Iniciar
                sesión</button>
            <!-- <script>
                let csrf_token = "TOKEN_CSRF;
            </script> -->
            <button id="btn_loading" class="btn btn-primary mx-auto w-50" type="button" style="display: none"
                disabled><span id="span_msg" class="spinner-grow spinner-grow-sm" role="status"
                    aria-hidden="true"></span>
                <span id="msg_btn"></span>
            </button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}